body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

/* FEJLÉC */
header {
    background: black;
    color: white;
    padding: 50px 20px;
}

h1 {
    margin: 0;
    font-size: 42px;
    letter-spacing: 2px;
}

/* SZEKCIÓK */
section {
    padding: 50px 20px;
}

/* RÓLAM */
.about {
    max-width: 700px;
    margin: auto;
}

/* PORTFÓLIÓ */
.portfolio {
    background: white;
}

/* GALÉRIA */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}

/* KÉPEK */
.gallery img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius:0px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* HOVER EFFEKT */
.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* FOOTER */
footer {
    background: black;
    color: white;
    padding: 25px;
    margin-top: 40px;
}
